.stylish-form 
{
    background-image: linear-gradient(#5468FF, #fff) !important; 
    padding:10px;
    height: 100% !important;
}

.stylish-form h2 {
    color:#f96332;
    margin-top:50px;
    
}
.font_white {
    color:#fff !important;
}
h2.font_white.text-center span{
    cursor: pointer;
}
h2.font_white.text-center span:hover {
    text-decoration: underline;
}
.mar20 
{
    margin:20px;
}
.inner-section {
    /* background-color:#5468FF; */
    width:350px;
    display:block;
    margin:0 auto;
}
.inside-form{
    border-radius:8px;
    padding-top:30px;
    padding-bottom:30px;
}
.inside-form h2 {
    font-weight:700;
}
.inside-form ul {
    list-style-type:none;
    text-align:center;
    margin-top:30px;
}
.inside-form ul >li {
    display:inline-block;
}
.inside-form ul >li > i {
    margin-top:18px;
}
.icon-holder {
    background: #fff;
    border-radius: 50%;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-right: 20px;
    color: #5468FF !important;
    cursor: pointer;
}

.dsp-flex {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: center
}
.input-group, .form-group {
    margin-bottom: 10px;
}
.input-group-addon {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.form-control,.form-control:focus,.form-control:hover
{
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    border:none;
    font-size:14px;
}
input:focus {
    outline: none !important;
}
select {
    width: 100%;
    height: inherit !important;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
option {
    background: rgba(255, 255, 255, 0.1) !important;
    color: #5468FF !important;
    padding: 1em !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
}
.footer {
    margin-top:40px;
    margin-bottom:40px;
}
input::placeholder {
    color: #fff !important;
}
.btn-lg {
    font-size: 1em;
    border-radius: 0.25rem;
    padding: 15px 48px;
}
.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 11px 23px;
}
.btn-neutral,.btn-neutral:focus,.btn-neutral:hover {
    background-color: #FFFFFF;
    color: #5468FF;
}

body {
    background-image: linear-gradient(#5468FF, #fff) !important;
}

@media (max-width: 411px) {
    .inner-section {
      margin: none !important;
      width: 100% !important;
    }
}


