<div class="container-fluid stylish-form">
  <div class="row mar20">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <!-- SignUp -->
      <div class="inner-section">
        <div class="alert {{swalCus.type === 'success' ? 'wua-success-bg' : 'wua-danger-bg'}} ert-dismissible fade show" *ngIf="wuaAlert" role="alert">
          <strong>{{swalCus.title}}</strong> {{swalCus.text}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="wuaAlert = false">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" [formGroup]="shareForm">
          <div class="mar20 inside-form">
            <h2 class="font_white text-center">Share</h2>
            <h6 class="font_white text-center">Help increase the community by providing us with websites, projects or tutorials that use Algolia</h6>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="far fa-address-card "></i>
              </span>
              <input type="text" class="form-control" name="text" placeholder="Enter Name of Project / Page" formControlName="name">
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fas fa-at "></i>
              </span>
              <input type="email" class="form-control" name="text" placeholder="Email..." formControlName="email">
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fas fa-globe "></i>
              </span>
              <input type="text" class="form-control" name="text" placeholder="Website Url" formControlName="url" pattern="https?://.+">
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fas fa-chalkboard"></i>
              </span>
              <select name="slct" id="slct" class="form-control" formControlName="type">
                <option value="" disabled selected>What category does this belong to ?</option>
                <option [value]="'projects'">Projects</option>
                <option [value]="'websites'">Websites</option>
                <option [value]="'tutorials'">Tutorials</option>
                <option [value]="'videos'">Videos</option>
              </select>
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fas fa-pencil-alt "></i>
              </span>
              <input type="text" class="form-control" name="text" placeholder="Made By ?" formControlName="madeBy">
            </div>
            <div class="footer text-center">
              <button class="btn btn-neutral btn-round btn-lg" (click)="share()" [disabled]="loading || !shareForm.valid">Post</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>