<main role="main">

  <ais-instantsearch [config]="config">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">We love people who and want to use Algolia.</h1>
        <p class="lead text-muted">You can search for products that use Algolia Search.</p>
        <div class="container-1" id="search-box">
          <ais-search-box id="search"></ais-search-box>
          <!-- <ais-stats></ais-stats> -->
          <!-- <input type="search" id="search" placeholder="Search..." /> -->
        </div>
        <p>Search By
          <a style="color: #5468FF" href="https://www.algolia.com/">
            <i class="fab fa-algolia"></i>
            Algolia
          </a>
        </p>
      </div>
    </section>

    <div class="album py-5">

        <ais-hits>
          <ng-template let-hits="hits">
            <div class="container">
              <div class="row">
                <div class="col-md-4" *ngFor="let hit of hits">
                  <div class="card mb-4 box-shadow">
                    <a href="{{hit.url}}" target="_blank">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"
                        src="{{hit.imageUrl}}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                    </a>
                    <div class="card-body">
                      <p class="card-text truncate">{{hit.name}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{{hit.url}}" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                        </div>
                        <small class="text-muted">{{hit.madeBy}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </ng-template>
        </ais-hits>

    </div>

  </ais-instantsearch>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="https://getbootstrap.com/docs/4.1/examples/album/#">Back to top</a>
    </p>
    <p>Made with love by people who use Algolia</p>
    <p>New to Algolia?
      <a href="https://algolia.com/">Visit Algolia</a> or Join Algolia Community
      <a href="https://community.algolia.com/">here</a>.</p>
  </div>
</footer>